.dndflow {
    flex-direction: column;
    display: flex;
    height: 60vh;
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #e4e9f5;
    overflow: auto;
}

.dndflow aside>* {
    margin-bottom: 10px;
    cursor: grab;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }
    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

.dndflow .dndnode {
    align-items: center;
    border: 1px solid #1a192b;
    border-radius: 2px;
    cursor: grab;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 4px;
}

.dndflow .dndnode.input {
    border-color: #0041d0;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.react-flow__handle {
    height: 15px;
    width: 8px;
    border: none;
}

.react-flow__handle-left {
    left: -8px;
    border-radius: 3px 0px 0px 3px;
}

.react-flow__handle-right {
    right: -8px;
    border-radius: 0px 3px 3px 0px;
}

.react-flow__node-switchNode{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.dndflow .CodeMirror{
    height: 300px;
}

