.CodeMirror {
    height: 260px;
}


.dndflow {
    flex-direction: column;
    display: flex;
    height: calc(100vh - 308px);
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #e4e9f5;
    overflow: auto;
}

.dndflow aside .dndnode {
    margin-bottom: 10px;
    cursor: grab;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 30%;
        max-width: 250px;
    }
}

.dndflow .dndnode {
    align-items: center;
    border: 1px solid #1a192b;
    border-radius: 2px;
    cursor: grab;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 4px;
}

.dndflow .dndnode.input {
    border-color: #0041d0;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.dndflow .react-flow__handle {
    height: 15px;
    width: 8px;
    border: none;
}

.dndflow .react-flow__handle-left {
    left: -8px;
    border-radius: 3px 0px 0px 3px;
}

.dndflow .react-flow__handle-right {
    right: -8px;
    border-radius: 0px 3px 3px 0px;
}

.dndflow .react-flow__node {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: #fff;
}

.dndflow .react-flow__edge-path {
    stroke-width: 3px;
}


.avoid-selection {
    user-select: none;
}

.react-flow__node-ButtonNode .react-flow__handle {
    background: #237a52;
}

.react-flow__node-ButtonNode {
    border-color: #237a52;
}

.react-flow__node.selected {
    box-shadow: 0 0 0 0.5px #1a192b;
}