@import "~antd/dist/antd.less";

// Antd customized
@form-vertical-label-padding: 0 0 0px;

.rightFloated {
    position: absolute !important;
    right: 15px;
}

.userInfoButton.rightFloated {
    position: absolute !important;
    right: 35px;
}
.userInfoButton.rightFloated .ant-menu-title-content {
    margin-right: 10px;
}

.logoutBtn {
    position: absolute !important;
    right: 0px;
    top: 7px;
}

.ant-layout-content {
    background-color: white;
    min-height: calc(99vh - 65px);
    margin: 10px 16px 16px;
    padding: 10px;
}

.ant-layout-content.packageContent {
    min-height: calc(99vh - 105px);
}

.adm-submenu .ant-menu-inline {
    background: white;
    color: #1976d2;
}

.adm-submenu .ant-menu-item a {
    color: #1976d2;
}

.adm-submenu .ant-menu-submenu-active,
.adm-submenu .ant-menu-submenu-selected,
.adm-submenu .ant-menu-item-selected,
.adm-submenu .ant-menu-submenu-arrow,
.adm-submenu .ant-menu-submenu-active .ant-menu-submenu-title,
.adm-submenu .ant-menu-item-active {
    color: #154579 !important;
}

.logo {
    float: left;
    width: 50px;
    height: 45px;
    background: #1976d2;
}

.logo img {
    height: 45px;
}
